body {
    font-family: Arial, sans-serif;
    background: url('images/Landingpage.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
}


/*test moodify logo*/
.card {
    width: 350px;
    height: 200px;
    background: #00000000;
    position: fixed;
    top: 150px;
    left: 620px;
    display: grid;
    place-content: center;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  
  #logo-main, #logo-second {
    height: 100%;
  }
  
  #logo-main {
    fill: #1DB954;
  }
  
  #logo-second {
    padding-bottom: 10px;
    fill: #1DB954;
    stroke: #bd9f67;
    stroke-width: 1px;
  }
  
  .border {
    position: absolute;
    inset: 0px;
    border: 2px solid #1DB954;
    opacity: 0;
    transform: rotate(10deg);
    transition: all 0.5s ease-in-out;
  }
  
  .bottom-text {
    position: absolute;
    left: 50%;
    bottom: 13px;
    transform: translateX(-50%);
    font-size: 6px;
    text-transform: uppercase;
    padding: 0px 5px 0px 8px;
    color: #1DB954;
    background: #243137;
    opacity: 0;
    letter-spacing: 7px;
    transition: all 0.5s ease-in-out;
  }
  
  .content {
    transition: all 0.5s ease-in-out;
  }
  
  .content .logo {
    height: 35px;
    position: relative;
    width: 33px;
    overflow: hidden;
    transition: all 1s ease-in-out;
  }
  
  .content .logo .logo1 {
    height: 33px;
    position: absolute;
    left: 0;
  }
  
  .content .logo .logo2 {
    height: 33px;
    position: absolute;
    left: 33px;
  }
  
  .content .logo .trail {
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
  }
  
  .content .logo-bottom-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30px;
    color: #1DB954;
    padding-left: 8px;
    font-size: 11px;
    opacity: 0;
    letter-spacing: none;
    transition: all 0.5s ease-in-out 0.5s;
  }
  
  .card:hover {
    border-radius: 0;
    transform: scale(1.1);
  }
  
  .card:hover .logo {
    width: 134px;
    fill: #1DB954;
    animation: opacity 1s ease-in-out;
  }
  
  .card:hover .border {
    inset: 15px;
    opacity: 1;
    transform: rotate(0);
  }
  
  .card:hover .bottom-text {
    letter-spacing: 3px;
    opacity: 1;
    transform: translateX(-50%);
  }
  
  .card:hover .content .logo-bottom-text {
    opacity: 1;
    letter-spacing: 9.5px;
  }
  
  .card:hover .trail {
    animation: trail 1s ease-in-out;
  }
  
  @keyframes opacity {
    0% {
      border-right: 1px solid transparent;
    }
  
    10% {
      border-right: 1px solid #bd9f67;
    }
  
    80% {
      border-right: 1px solid #bd9f67;
    }
  
    100% {
      border-right: 1px solid transparent;
    }
  }
  
  @keyframes trail {
    0% {
      background: linear-gradient(90deg, rgba(189, 159, 103, 0) 90%, rgb(189, 159, 103) 100%);
      opacity: 0;
    }
  
    30% {
      background: linear-gradient(90deg, rgba(189, 159, 103, 0) 70%, rgb(189, 159, 103) 100%);
      opacity: 1;
    }
  
    70% {
      background: linear-gradient(90deg, rgba(189, 159, 103, 0) 70%, rgb(189, 159, 103) 100%);
      opacity: 1;
    }
  
    95% {
      background: linear-gradient(90deg, rgba(189, 159, 103, 0) 90%, rgb(189, 159, 103) 100%);
      opacity: 0;
    }
  }
/* this whol block is one */


/* Login Button */ 
/* === removing default button style ===*/
.button {
    margin: 250px;
    position: relative;
    top: 150px;
    left: 460px;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  /* button styling */
  .button {
    --border-right: 0px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #1DB954;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: absolute;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }

  
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }
  /*spotify logo*/
  .login-icon {
    width: 35px;  /* Adjust size */
    height: 30px;
    position: absolute;
    left:125px;
    top: 2px;
    vertical-align: middle;
}


/* .container {
    width: 100%;
    max-width: 600px;
    margin: 300px auto;
    padding: 20px;
    text-align: center;
    background-color: #000000;
    border-radius: 8px;
}
*/